@import 'src/app/components/mixins.scss';

:host {
  height: 100%;
  width: 100%;
}

/////////////////////////////////////////////////////////////////////////////////////////
/* MENU COMPONENT */
.menu {
  background: $white !important;
  color: $text;
  transition: none;
  display: block;
  min-height: 100%;
  font-size: rem(15);

  .menuOuter {
    position: fixed;
    height: 100%;
    width: inherit;
    max-width: inherit;
  }

  /////////////////////////////////////////////////////////////////////////////////////////
  /* LOGO */
  .logoContainer {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 rem(15) 0 rem(28);

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: rem(24);
      white-space: nowrap;
      width: 100%;
    }
    .name {
      font-size: rem(20);
      font-weight: 700;
      color: $black;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 90%;
      display: block;
    }
    .descr {
      margin-left: rem(11);
      padding-left: rem(11);
      height: rem(38);
      line-height: rem(38);
      border-left: 1px solid $gray-2;
      font-size: rem(14);
    }
  }

  /////////////////////////////////////////////////////////////////////////////////////////
  /* ICON */
  .icon {
    text-align: center;
    position: absolute;
    right: 14px;
    width: 20px;
    top: 11px;
    margin: 0 !important;
    line-height: 1 !important;
    color: $gray-5;
    font-size: rem(17);
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  /////////////////////////////////////////////////////////////////////////////////////////
  /* COLLAPSE TRIGGER BUTTON */
  ::ng-deep {
    .ant-layout-sider-trigger {
      background: $gray-1;
      color: $text;
      transition: none;
    }

    .ant-menu-inline-collapsed + .banner {
      display: none;
    }
  }

  /////////////////////////////////////////////////////////////////////////////////////////
  /* ANTD MENU CUSTOMIZATION */
  .navigation {
    padding: 0 rem(15);
    transition: background 0s, width 0.0001s !important; // collapsed state ant-menu fix
    background: transparent;
    border-right: none;
    color: $text;

    .title {
      font-size: rem(15);
    }

    ::ng-deep {
      .ant-menu-submenu > .ant-menu {
        background: transparent;
      }

      .ant-menu-submenu-arrow {
        opacity: 0.55;
      }

      .ant-menu-inline .ant-menu-item,
      .ant-menu-inline .ant-menu-submenu-title {
        width: 100%;
      }

      .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
        right: 40px;
      }

      .ant-menu-item-group-title {
        color: $gray-4 !important;
        font-size: rem(12);
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: none;
      }

      .ant-menu-submenu-title {
        margin-bottom: 0 !important;
        transition: none !important;
        background: transparent !important;
        color: $text;

        &:hover {
          color: $primary;
        }
      }

      .ant-menu-submenu {
        border-radius: 5px;
        will-change: transform;
      }

      .ant-menu-item {
        margin-bottom: 4px !important;
        border-radius: 5px;
        outline: none;
        transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
        > span {
          color: $text;
        }

        > a {
          color: $text;

          &:hover {
            color: $primary;

            .icon {
              color: $primary;
            }
          }
        }
      }

      .ant-menu-submenu-selected {
        :global(.ant-menu-submenu-title),
        .icon {
          color: $primary;
        }
      }

      .ant-menu-submenu-active {
        .icon {
          color: $primary;
        }
      }

      .ant-menu-submenu-open,
      .ant-menu-submenu-active,
      .ant-menu-item-active {
        background: $gray-2 !important;
      }

      .ant-menu-item-selected {
        background: $primary !important;

        > a,
        > span {
          color: $white !important;

          .icon {
            color: $white !important;
          }
        }

        &:after {
          display: none;
        }
      }

      .ant-menu-item-active {
        > span {
          color: $primary;
        }
      }

      .ant-menu-item-disabled {
        > span {
          color: $gray-4;
        }
      }
    }
  }

  /////////////////////////////////////////////////////////////////////////////////////////
  /* COLLAPSED STYLES */
  &.ant-layout-sider-collapsed {
    ::ng-deep {
      @at-root {
        .ant-menu-inline-collapsed-tooltip .icon {
          display: none;
        }
      }

      .badge {
        position: absolute;
        z-index: 1;
        top: 3px;
        right: 3px;
      }

      .title,
      .name,
      .line,
      .descr {
        display: none !important;
      }

      .ant-menu-item-group {
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          top: 50%;
          background: $border;
        }
      }

      .ant-menu-item-group-title {
        visibility: hidden;
      }

      .ant-menu-inline-collapsed-tooltip .icon {
        display: none;
      }

      .ant-menu-item,
      .ant-menu-submenu-title {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .icon {
          right: rem(15);
        }
      }
    }
  }

  /////////////////////////////////////////////////////////////////////////////////////////
  /* BANNER COMPONENT */
  .banner {
    padding: rem(20);
    background: $gray-1;
    border-radius: 3px;
    margin: rem(20);
    overflow: hidden;
    border: 1px solid $border;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
/* SETTINGS */
.unfixed {
  .menuOuter {
    position: relative;
  }
}

.shadow {
  box-shadow: 0 0 100px -30px rgba(57, 55, 73, 0.3);
  z-index: 1;
}

/////////////////////////////////////////////////////////////////////////////////////////
/* GRAY THEME */
.gray {
  background: $gray-1 !important;
}

/////////////////////////////////////////////////////////////////////////////////////////
/* DARK THEME */
.dark {
  color: $dark-gray-2;
  background: $dark-gray-6 !important;

  .icon {
    color: $dark-gray-2;
  }

  .logoContainer {
    .name {
      color: $white;
    }
    .descr {
      color: $dark-gray-2;
      border-left: 1px solid $dark-gray-4;
    }
  }

  .banner {
    background: $dark-gray-4;
    border: 1px solid $dark-gray-4;
  }

  ::ng-deep {
    .ant-layout-sider-trigger {
      background: lighten($dark-gray-6, 5%);
    }
  }

  .navigation {
    ::ng-deep {
      .ant-menu-item-group-title {
        color: darken($dark-gray-3, 10%) !important;
      }

      .ant-menu-submenu-title {
        color: $dark-gray-2;

        &:hover {
          color: $primary;
        }
      }

      .ant-menu-item {
        > span {
          color: $dark-gray-2;
        }
        > a,
        > span {
          color: $dark-gray-2;

          &:hover {
            color: $primary;

            .icon {
              color: $primary;
            }
          }
        }
      }

      .ant-menu-submenu-open,
      .ant-menu-submenu-active,
      .ant-menu-item-active {
        background: $dark-gray-4 !important;
      }

      .ant-menu-item-active {
        > span {
          color: $primary;
        }
        .ant-menu-item-selected {
          background: $primary !important;
        }
      }

      .ant-menu-item-disabled {
        > span {
          color: $dark-gray-3;
        }
      }
    }
  }

  &.ant-layout-sider-collapsed {
    ::ng-deep {
      .ant-menu-item-group {
        &:after {
          background: $dark-gray-4;
        }
      }
    }
  }
}


.entity-name {
  position: absolute;
  top: 2.5rem;
  left: 4rem;
}
