<div *ngIf="!load" >
  <div *ngIf="items.length > 0" style="transform: translateY(-70px);" class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark animated fadeIn">
    <div class="row">
      <div class="col-md-3">
        <div class=" p-3">
          <img style="width: 100%; height: auto" src="assets/images/digitar_orden.svg">
        </div>
      </div>
      <div class="col-md-9">
  
        <div class="col-12">
          <div class="item mb-xl-0 mb-3">
            <span class="icon">
              <i class="fe fe-cpu"></i>
            </span>
            <div class="desc">
              <span class="title">DIGITAR ORDEN DE TRABAJO </span>
              <p class="mb-2">Apruebe o cancele las fechas de mantenimiento generadas por la IA del sistema</p>
            </div>
            <div class="line bg-primary" style="height: 2px;"></div>
          </div>
        </div>
  
        <table class="table table-sm centrado-porcentual" style="width: 94%">
          <tbody style="color: #595c97; font-size: 17px">
            <tr>
              <td scope="row">NÚMERO ORDEN</td>
              <td><b class="text-danger">{{ orden.numeroOrden }}</b></td>
              <td scope="row">NÚMERO COTIZACIÓN</td>
              <td><b class="text-danger">{{ orden.numeroCotizacionProveedor }}</b></td>
            </tr>
            <tr>
              <td scope="row">FECHA ORDEN</td>
              <td><b class="text-danger">{{ orden.fechaOrden | date }}</b></td>
              <td scope="row">PROVEEDOR</td>
              <td><b *ngIf="proveedor != null" class="text-danger">{{ proveedor.fkProveedor.nombre }}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  
  <div *ngIf="items.length > 0" style="transform: translateY(-90px);" class="row animated fadeIn">
    <div class="col-md-12">
  
  
      <div class="card">
        <div class="card-body">

          <div class="row">

            <div class="col-md-12">
              <div class="item mb-xl-0 mb-3">
                <span class="icon">
                  <i class="fe fe-settings"></i>
                </span>
                <div class="desc">
                  <span class="title">Ingresar información de los cronogramas </span>
                  <p class="mb-2">Apruebe o cancele las fechas de mantenimiento generadas por la IA del sistema</p>
                </div>
                <div class="line bg-primary" style="height: 2px;"></div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-12 p-1" style="overflow-y: auto; max-height: 40vh;">

                <div style="padding: 30px; border-radius: 8px;">
  
                  <table class="table table-sm table-striped w-100">
                    <thead style="font-size: 12px">
                      <tr>
                        <th>No:</th>
                        <th>CODIGO EQUIPO</th>
                        <th>EQUIPO</th>
                        <th>FECHA PROVEEDOR</th>
                        <th>FECHA PROGRAMADA</th>
                        <th>VALOR MANTENIMIENTO</th>
                        <th>VALOR CALIBRACION</th>
                        <th style="width: 10%">HORAS DE PARO</th>
                        <th>TECNICO RESPONSABLE</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody style="font-size: 12px">
                      <tr *ngFor="let item of items; let i=index">
                        <td scope="row">{{ i + 1 }}</td>
                        <td class="text-danger">{{ item.fkCronograma.fkEquipoInventario.fkEquipo.codigo | uppercase }}</td>
                        <td>{{ item.fkCronograma.fkEquipoInventario.fkEquipo.nombre | uppercase }}</td>
                        <td>
                          <nz-date-picker [(ngModel)]="item.fkCronograma.fechaProveedor" nzPlaceHolder="Fecha Proveedor"
                            class="w-100">
                          </nz-date-picker>
                        </td>
                        <td>
                          <nz-date-picker [(ngModel)]="item.fkCronograma.fechaProgramada" nzPlaceHolder="Fecha Proveedor"
                            class="w-100">
                          </nz-date-picker>
                        </td>
                        <td>
                          <input type="number" nz-input placeholder="Valor mantenimiento"
                            [(ngModel)]="item.fkCronograma.fkEquipoInventario.costoPromMantenimiento" id="valorman{{i}}" />
                        </td>
                        <td>
                          <input type="number" nz-input placeholder="Valor Calibración"
                            [(ngModel)]="item.fkCronograma.fkEquipoInventario.costoPromCalibracion" id="valorcali{{i}}" />
                        </td>
                        <td>
                          <input type="number" nz-input placeholder="Horas paro"
                            [(ngModel)]="item.fkCronograma.horasParoEquipo" id="HORASPARO{{i}}" />
                        </td>
                        <td>
                          <nz-select nzShowSearch nzAllowClear [(ngModel)]="item.fkCronograma.fkProveedorTecnico"
                            class="w-100">
                            <nz-option *ngFor="let tect of tecnicos" [nzValue]="tect.idProveeorTecnico"
                              nzLabel="{{tect.fkTecnico.documento}}  |  {{tect.fkTecnico.nombre}}"></nz-option>
                          </nz-select>
                        </td>
                        <td>
                          <button type="button" (click)="openFormTecnicos()" class="btn btn-sm btn-primary" style="border-radius: 50%;">
                            <i class="fa fa-plus"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
    
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  
    <div class="col-md-4 offset-md-4">
      <button class="btn btn-primary w-100" (click)="showConfirm()">GUARDAR INFORMACIÓN</button>
    </div>
  </div>
  
  <div *ngIf="items.length == 0 && !response" class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32 animated fadeIn">
    <div class="row">
      <div class="col-12 text-center animated fadeIn centrado-porcentual" style="margin: 10px;  padding-top: 100px; padding-bottom: 100px;">
        <div>
          <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
          </div>
          <div class="spinner-text text-primary" style="transform: translateY(-60px);">Consultando información</div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="items.length == 0 && response && response_type == 0" class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32 animated fadeIn">
    <div class="row">
      <div class="col-12 text-center animated fadeIn centrado-porcentual" style="margin: 10px; padding-bottom: 60px;">
        <div>
          <nz-result nzStatus="warning" nzTitle="No se puede digitar la order la información ya no es valida!">
          </nz-result>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="items.length == 0 && response && response_type == 1" class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32 animated fadeIn">
    <div class="row">
      <div class="col-12 text-center animated fadeIn centrado-porcentual" style="margin: 10px; padding-bottom: 60px;">
        <div>
          <nz-result nzStatus="success" nzTitle="La orden de trabajo fue digitada">
          </nz-result>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="items.length == 0 && response && response_type == 2" class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32 animated fadeIn">
    <div class="row">
      <div class="col-12 text-center animated fadeIn centrado-porcentual" style="margin: 10px; padding-bottom: 60px;">
        <div>
          <nz-result nzStatus="error" nzTitle="No se realizo la petición!">
          </nz-result>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div *ngIf="load" class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32 animated fadeIn">
  <div class="row">
    <div class="col-12 text-center animated fadeIn centrado-porcentual" style="margin: 10px; padding-top: 100px; padding-bottom: 100px;">
      <div>
        <div class="sk-cube-grid">
          <div class="sk-cube sk-cube1"></div>
          <div class="sk-cube sk-cube2"></div>
          <div class="sk-cube sk-cube3"></div>
          <div class="sk-cube sk-cube4"></div>
          <div class="sk-cube sk-cube5"></div>
          <div class="sk-cube sk-cube6"></div>
          <div class="sk-cube sk-cube7"></div>
          <div class="sk-cube sk-cube8"></div>
          <div class="sk-cube sk-cube9"></div>
        </div>
        <div class="spinner-text text-primary" style="transform: translateY(-60px);">Digitando orden de trabajo</div>
      </div>
    </div>
  </div>
</div>
