<div class="card">
    <div class="card-body p-3">
        <div *ngIf="show" class="row">
            <div class="col-md-2">
                <div class=" p-3">
                    <img style="width: 100%; height: auto" src="assets/images/tecnicos.png">
                </div>
            </div>
            <div class="col-md-10">

                <br>
                <br>
                <div class="col-12">
                    <div class="item mb-xl-0 mb-3">
                        <div class="desc">
                            <span class="title" style="font-size: 18px;">Agregar técnico </span>
                            <p class="mb-2">Ingrese la información del tecnico para agregar a la base de datos</p>
                        </div>
                        <div class="line bg-primary" style="height: 2px;"></div>
                    </div>
                </div>

            </div>

            <div class="col-md-8 offset-md-2" *ngIf="!load">
                <form [formGroup]="datos">
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="pull-right">
                                        <b class="text-danger">*</b> Documento
                                    </div>
                                </td>
                                <td>
                                    <input nz-input formControlName="documento" id="tec_doc" placeholder="0000000000" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pull-right">
                                        <b class="text-danger">*</b> Nombre
                                    </div>
                                </td>
                                <td>
                                    <input nz-input formControlName="nombre" id="tec_nom" placeholder="" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pull-right">
                                        <b class="text-danger">*</b> Email
                                    </div>
                                </td>
                                <td>
                                    <input nz-input formControlName="email" id="tec_email"
                                        placeholder="example@mail.com" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="pull-right">
                                        <b class="text-danger">*</b> Número de la tarjeta
                                    </div>
                                </td>
                                <td>
                                    <input nz-input formControlName="tarjeta" id="tec_tarjeta" placeholder="000000" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12" style="margin-top: 40px;">
                        <button class="centrado-porcentual" nz-button nzType="primary" type="button"
                            (click)="showConfirm()">Guardar Información</button>
                    </div>
                </form>
            </div>

            <div class="col-md-12" *ngIf="load && load_state == 0" style="padding-top: 100px; padding-bottom: 100px">
                <div class="centrado-porcentual">
                    <div class="sk-cube-grid">
                        <div class="sk-cube sk-cube1"></div>
                        <div class="sk-cube sk-cube2"></div>
                        <div class="sk-cube sk-cube3"></div>
                        <div class="sk-cube sk-cube4"></div>
                        <div class="sk-cube sk-cube5"></div>
                        <div class="sk-cube sk-cube6"></div>
                        <div class="sk-cube sk-cube7"></div>
                        <div class="sk-cube sk-cube8"></div>
                        <div class="sk-cube sk-cube9"></div>
                    </div>
                    <div class="spinner-text text-success" style="transform: translateY(-80px);">Guardando los datos lel
                        tecnico</div>
                </div>
            </div>

            <div class="col-md-12" *ngIf="load && load_state == 1">
                <div>
                    <nz-result nzStatus="success" nzTitle="Los datos de lel tecnico fueron guardados">

                        <div nz-result-extra>
                            <button nz-button (click)="onNoClick(1)">Cerrar</button>
                        </div>
                    </nz-result>
                </div>
            </div>

            <div class="col-md-12" *ngIf="load && load_state == 2">
                <div>
                    <nz-result nzStatus="error" nzTitle="Error al guardar los datos del tecnico">

                        <div nz-result-extra>
                            <button nz-button (click)="onNoClick(0)">Cerrar</button>
                        </div>
                    </nz-result>
                </div>
            </div>

        </div>

        <div *ngIf="!show" class="row">
            <div class="col-md-12">
                <nz-skeleton [nzActive]="true" [nzParagraph]="{ rows: 7 }"></nz-skeleton>
            </div>
        </div>
    </div>
</div>