.img404{
    width: 21rem; 
    height: auto;
    margin-top: 5rem; 
    margin-left: 5%;
    z-index: 99;
    animation-name: floating !important;
    animation-duration: 3s !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: ease-in-out !important;
  }
  
  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
  }

  .dark-gray {
    color: #606060 !important;

  }

  .custom-container {
    background: white;
    padding: 2.5rem;
    border-radius: .5rem;
    margin-top: 2rem;
  }