<div *ngIf="!load" style="transform: translateY(-60px)" >
    <div *ngIf="items" class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark animated fadeIn">
        <div class="row">
            <div class="col-md-3">
                <div class=" p-3">
                    <img style="width: 100%; height: auto" src="assets/images/mantenimiento.svg">
                </div>
            </div>
            <div class="col-md-9">

                <div class="col-12">
                    <div class="item mb-xl-0 mb-3">
                        <span class="icon">
                            <i class="fe fe-cpu"></i>
                        </span>
                        <div class="desc">
                            <span class="title">MANTENIMIENTO DE EQUIPO MEDICO </span>
                            <p class="mb-2">Ingersar la información detallada del mantenimiento del equipo</p>
                        </div>
                        <div class="line bg-primary" style="height: 2px;"></div>
                    </div>
                </div>

                <table class="table table-sm centrado-porcentual" style="width: 94%">
                    <tbody style="color: #595c97; font-size: 17px">
                        <tr>
                            <td scope="row">NÚMERO ORDEN</td>
                            <td><b class="text-danger">{{ orden.numeroOrden }}</b></td>
                            <td scope="row">NÚMERO COTIZACIÓN</td>
                            <td><b class="text-danger">{{ orden.numeroCotizacionProveedor }}</b></td>
                            <td scope="row"># MANTENIMIENTO</td>
                            <td><b *ngIf="items != null" class="text-danger">{{ items.idOrdenDetalle }}</b></td>
                        </tr>
                        <tr>
                            <td scope="row">FECHA ORDEN</td>
                            <td><b class="text-danger">{{ orden.fechaOrden | date }}</b></td>
                            <td scope="row">PROVEEDOR</td>
                            <td><b *ngIf="proveedor != null" class="text-danger">{{ proveedor.fkProveedor.nombre }}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div *ngIf="items" class="row animated fadeIn">
        <div class="col-md-12">


            <div class="card p-3">

                <div class="row">

                    <div class="col-md-12">
                        <div class="item mb-xl-0 mb-3">
                            <span class="icon">
                                <i class="fe fe-settings"></i>
                            </span>
                            <div class="desc">
                                <span class="title">Ingresar información de los cronogramas </span>
                                <p class="mb-2">Apruebe o cancele las fechas de mantenimiento generadas por la IA del
                                    sistema</p>
                            </div>
                            <div class="line bg-primary" style="height: 2px;"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div *ngIf="orden != null" class="row" style=" background: #f2f4f8b8; margin-top: 1rem; margin-left: 1rem">
                            <div class="cui__utils__heading mb-1" style="width: 100%; ">
                                <strong>EQUIPO MEDICO</strong>
                            </div>
                            <div class="pt-3 widget-container" *ngIf="equipo">
                                <div class="bg-danger status"></div>
                                <div class="d-flex flex-nowrap align-items-center pb-3 pl-4 pr-4">
                                    <div class="mr-auto">
                                        <div class="text-uppercase font-weight-bold font-size-24 text-dark">
                                            {{ equipo.fkEquipo.nombre }}</div>
                                        <div class="font-size-18">Inventario: {{ equipo.numeroInventario }}</div>
                                        <div class="font-size-18">Referencia: {{ equipo.fkEquipo.referencia }}</div>
                                        <div class="font-size-15 text-danger">Marca: {{ equipo.fkMarca.nombre }}
                                        </div>
                                    </div>
                                    <div class="ml-4 text-gray">
                                        <i nz-icon nzType="apartment" class="font-size-40" nzTheme="outline"></i>
                                    </div>
                                </div>
                                <div class="footer mb-2">
        
                                    <div class="col-md-12">
                                        <nz-alert nzType="info" nzMessage="Equipo Seleccionado" nzCloseable
                                            nzDescription="Debe ingresar la fecha del manteniminto."
                                            nzShowIcon>
                                        </nz-alert>

                                        <hr>
                                    </div>
        
                                    <div class="col-md-6 offset-md-3">
                                        <nz-form-item class="m-0">
                                          <nz-form-label class="p-0">Seleccione fecha mantenimiento</nz-form-label>
                                          <nz-form-control class="m-0 w-100" nzHasFeedback nzErrorTip="Este campo es requerido">
                                            <nz-date-picker [(ngModel)]="fecha_man"
                                              nzPlaceHolder="fecha mantenimiento" class="w-100"></nz-date-picker>
                                          </nz-form-control>
                                        </nz-form-item>
                                      </div>
        
                                </div>
                            </div>
        
                        </div>
                    </div>
                    <div class="col-md-6">


                        <nz-tabset>
                            <nz-tab nzTitle="Información del mantenimiento">
                                <perfect-scrollbar style="max-height: 35vh;" class="p-1">
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Propiedad</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of data_mantenimiento; let i=index">
                                                <td>{{ item.propiedad }}</td>
                                                <td>
                                                    <input nz-input [(ngModel)]="item.value" id="tec_nom" placeholder="" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </perfect-scrollbar> 
                            </nz-tab>
                            <nz-tab nzTitle="Información del protocolo">
                                <perfect-scrollbar style="max-height: 35vh;" class="p-1">
                                    <table class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Propiedad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of data_protocolo; let i=index">
                                                <td>{{ item.detalle }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </perfect-scrollbar> 
                            </nz-tab>
                        </nz-tabset>

                    </div>

                    <div class="col-md-2">
                        <div class="centrado-porcentual">
                            <button (click)="guardar()" class="btn btn-light" style="border-radius: 10px;">
                                <img src="assets/images/file-save.svg" style="width: 80%; height: auto">
                            </button>
                            <div class="text-center">GUARDAR</div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div *ngIf="!items && !response"
        class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32 animated fadeIn" style="margin-top: 20%">
        <div class="row">
            <div class="col-12 text-center animated fadeIn centrado-porcentual"
                style="margin: 10px;  padding-top: 100px; padding-bottom: 100px;">
                <div>
                    <div class="sk-cube-grid">
                        <div class="sk-cube sk-cube1"></div>
                        <div class="sk-cube sk-cube2"></div>
                        <div class="sk-cube sk-cube3"></div>
                        <div class="sk-cube sk-cube4"></div>
                        <div class="sk-cube sk-cube5"></div>
                        <div class="sk-cube sk-cube6"></div>
                        <div class="sk-cube sk-cube7"></div>
                        <div class="sk-cube sk-cube8"></div>
                        <div class="sk-cube sk-cube9"></div>
                    </div>
                    <div class="spinner-text text-primary" style="transform: translateY(-60px);">Consultando información del mantenimiento
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!items && response && response_type == 0"
        class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32 animated fadeIn" style="margin-top: 20%">
        <div class="row">
            <div class="col-12 text-center animated fadeIn centrado-porcentual"
                style="margin: 10px; padding-bottom: 60px;">
                <div>
                    <nz-result nzStatus="warning"
                        nzTitle="No se puede consultar la información del mantenimiento!">
                    </nz-result>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!items && response && response_type == 1"
        class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32 animated fadeIn" style="margin-top: 20%">
        <div class="row">
            <div class="col-12 text-center animated fadeIn centrado-porcentual"
                style="margin: 10px; padding-bottom: 60px;">
                <div>
                    <nz-result nzStatus="success" nzTitle="Se guardó la información del mantenimiento">
                    </nz-result>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!items && response && response_type == 2"
        class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32 animated fadeIn" style="margin-top: 20%">
        <div class="row">
            <div class="col-12 text-center animated fadeIn centrado-porcentual"
                style="margin: 10px; padding-bottom: 60px;">
                <div>
                    <nz-result nzStatus="error" nzTitle="No se guardó la información del mantenimiento!">
                    </nz-result>
                </div>
            </div>
        </div>
    </div>



</div>

<div *ngIf="load" class="container pl-5 pr-5 pt-5 pb-5 mb-auto text-dark font-size-32 animated fadeIn">
    <div class="row">
        <div class="col-12 text-center animated fadeIn centrado-porcentual"
            style="margin: 10px; padding-top: 100px; padding-bottom: 100px;">
            <div>
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
                <div class="spinner-text text-primary" style="transform: translateY(-60px);">Guardando la información del mantenimiento
                </div>
            </div>
        </div>
    </div>
</div>