<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="item mb-xl-0 mb-3">
          <span class="icon">
            <i class="fe fe-help-circle"></i>
          </span>
          <div class="desc">
            <span class="title" *ngIf="isEdit">Editar PQR </span>
            <span class="title" *ngIf="!isEdit">Crear PQR </span>
            <p class="mb-2">Complete los campos del formulario</p>
          </div>
          <div class="line bg-primary" style="height: 2px;"></div>
        </div>
      </div>
      <div class="row pl-5 pr-5 pt-2bourgon">
        <form nz-form [nzLayout]="'vertical'" [formGroup]="form" role="form">
          <div class="row">

            <div class="col-md-12 mb-4">
              <nz-form-item class="m-0">
                <nz-form-label class="p-0">Tipo de pqr</nz-form-label>
                <nz-form-control class="m-0" nzErrorTip="Este campo es requerido" nzHasFeedback>
                  <nz-select [nzDisabled]="isEdit" nzShowSearch nzAllowClear name="tipo" formControlName="tipo">
                    <nz-option [nzValue]="1" nzLabel="Petición"></nz-option>
                    <nz-option [nzValue]="2" nzLabel="Queja"></nz-option>
                    <nz-option [nzValue]="3" nzLabel="Reclamo"></nz-option>
                  </nz-select>
                </nz-form-control>
                <show-errors [control]="form.controls.tipo"></show-errors>
              </nz-form-item>
            </div>


            <div class="col-md-12">
              <nz-form-item>
                <nz-form-label nzFor="asunto" class="m-0 p-0">Asunto del PQR</nz-form-label>
                <nz-form-control nzErrorTip="Este campo es requerido">
                  <textarea id="asunto" nz-input placeholder="Asunto del PQR" formControlName="asunto" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
                </nz-form-control>
                <show-errors [control]="form.controls.asunto"></show-errors>
              </nz-form-item>
            </div>

   
            <div class="col-12 d-flex pt-2">
              <div class="col-6">
                <nz-form-item>
                  <button (click)="save()" nz-button nzType="primary" type="button" [nzLoading]="cargando"
                    class="btn btn-light px-5">
                    Guardar
                  </button>
                </nz-form-item>
              </div>
              <div class="col-6">
                <nz-form-item>
                  <button type="button" class="btn btn-danger px-5" (click)="onNoClick(0, null)">
                    Cancelar
                  </button>
                </nz-form-item>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>