<div class="card">
    <div class="card-body">

    <div class="row">
        <div class="col-12 mb-2">
        <div class="item mb-xl-0 mb-3">
            <span class="icon">
            <i class="fe fe-help-circle"></i>
            </span>
            <div class="desc">
            <span class="title">Administrar PQRS </span>
          
            <p class="mb-2" >Administre los PQR del usuario {{usuario?.nombre}} ({{usuario?.identificacion}})</p>
            </div>
            <div class="line bg-primary" style="height: 2px;"></div>
        </div>
    </div>


    <div class="row pl-5 pr-5 pt-2bourgon">

      <div class="cui__utils__heading mb-1 pl-4 w-100">
        <!--   <div class="text-nowrap d-inline-block font-size-15 text-dark">
            <strong class="text-uppercase font-size-20">Usuarios</strong> /
            <a class="font-size-15 text-blue" href="javascript: void(0);">sss</a>
          </div> -->
    
    
    
          <div class="w-40 float-right">
            <nz-input-group class="extInput mb-2" [nzPrefix]="prefixIconSearch">
              <input nz-input [(ngModel)]="pagoSearch" placeholder="Buscar pqrs" style="width: 200px" />
            </nz-input-group>
            <ng-template #prefixIconSearch>
              <i nz-icon nzType="search" class="extInputIcon" style="color: rgba(0,0,0,.25)"></i>
            </ng-template>
          </div>
    
    



          <button *ngIf="itemSelected && itemSelected.estado == 2 && !isExpired(itemSelected)"
          (click)="cambiarEstado(3)"
          [nzTooltipTitle]="'Cambiar estado a cerrado'"
          nzTooltipPlacement="top"
          nz-tooltip
          nz-button
          nzType="danger"
          [nzSize]="size"
          class="mr-2 mb-0 float-right"
        >
          <i class="fe fe-log-out"></i>
        </button>

          <button *ngIf="itemSelected && itemSelected.estado == 1 && !isExpired(itemSelected)"
          (click)="cambiarEstado(2)"
          [nzTooltipTitle]="'Cambiar estado a en proceso'"
          nzTooltipPlacement="top"
          nz-tooltip
          nz-button
          nzType="primary"
          [nzSize]="size"
          class="mr-2 mb-0 float-right"
        >
          <i class="fe fe-log-out"></i>
        </button>

    
          <button *ngIf="itemSelected && itemSelected.estado != 3 && !isExpired(itemSelected)"
            (click)="pqrForm(1) && !isExpired(data)"
            [nzTooltipTitle]="'Editar el pqr'"
            nzTooltipPlacement="top"
            nz-tooltip
            nz-button
            nzType="dashed"
            [nzSize]="size"
            class="mr-2 mb-0 float-right"
          >
            <i class="fe fe-edit-3"></i>
          </button>
          <button  *ngIf="itemSelected && !isExpired(itemSelected)"
            [nzTooltipTitle]="'Eliminar el pqr'"
            nzTooltipPlacement="top"
            nz-tooltip
            nz-button
            (click)="eliminarPqr(itemSelected?.id)"
            nzType="danger"
            [nzSize]="size"
            class="mr-2 mb-0 float-right"
          >
            <i class="fe fe-trash"></i>
          </button>

          <button *ngIf="!itemSelected"
          [nzTooltipTitle]="'Generar reportes de pqrs'"
          nzTooltipPlacement="top"
          nz-tooltip
          nz-button
          (click)="verReporte()"
          nzType="dashed"
          [nzSize]="size"
          class="mr-2 mb-0 float-right"
        >
          <i class="fe fe-printer"></i>
        </button>
    
    
  
    
        <button *ngIf="!itemSelected" (click)="pqrForm(0)"
        [nzTooltipTitle]="'Agregar nuevo pago'"
        nzTooltipPlacement="top"
        nz-tooltip
        nz-button
        nzType="primary"
        [nzSize]="size"
        class="mr-2 mb-0 float-right"
      >
        <i class="fe fe-plus"></i>
      </button>
    
    
    
        </div>


      <nz-table
      #dynamicTable
      [nzScroll]="fixHeader ? { y: '240px' } : null"
      [nzData]="listOfData"
      [nzBordered]="bordered"
      [nzSimple]="simple"
      [nzLoading]="cargandoTable"
      [nzPaginationPosition]="position"
      [nzShowSizeChanger]="sizeChanger"
      [nzFrontPagination]="pagination"
      [nzShowPagination]="pagination"
      [nzSize]="size"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
      class="kit__utils__table mb-4 w-100 pl-4"
    >
      <thead>
        <tr *ngIf="header">
          <th nzWidth="50px" nzShowExpand *ngIf="expandable"></th>
          <th nzWidth="62px"></th>

          <th nzWidth="70px">Tipo</th>
          <th nzWidth="70px">Asunto</th>
          <th nzWidth="50px">Fecha creación</th>
          <th nzWidth="50px">Fecha vencimiento</th>
          <th nzWidth="50px">Estado</th>

        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="dynamicTable.data | searchPipe: { referencia: pagoSearch }">
          <tr [ngClass]="{ 'column-selected': data.checked }">
            <td nzShowExpand *ngIf="expandable" [(nzExpand)]="data.expand"></td>
            <td
              nzShowCheckbox
              *ngIf="checkbox"
              [(nzChecked)]="data.checked"
              (nzCheckedChange)="refreshStatus(data)"
            ></td>


            <td>

              <div *ngIf="data.tipo == 1">Peticion</div>
              <div *ngIf="data.tipo == 2">Queja</div>
              <div *ngIf="data.tipo == 3">Reclamo</div>


            </td>


            <td
            [nzTooltipTitle]="data.asunto"
            nzTooltipPlacement="top"
            nz-tooltip
            >{{ data.asunto | truncate:30 }}</td>
            <td>{{ data.fechaCreacion | date }}</td>
            <td>{{ data.fechaLimite | date }}</td>

            <td>

              <div *ngIf="!isExpired(data) && data.estado == 1" class="alert-primary pl-3">Nuevo</div>
              <div *ngIf="!isExpired(data) && data.estado == 2" class="alert-success pl-3">En proceso</div>
              <div *ngIf="!isExpired(data) && data.estado == 3" class="alert-danger pl-3">Cerrado</div>

              <div *ngIf="isExpired(data) && data.estado != 3" class="alert-warning pl-3">  <i class="fe fe-alert-triangle"></i> Expirado</div>


            </td>
    
  
          </tr>
          <tr [nzExpand]="data.expand && expandable">
            <td></td>
            <td [attr.colspan]="checkbox ? 5 : 4">{{ data.referencia }}</td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>


    </div>




    </div>
  
  </div>

  </div>